<div id="app" class="pt-3 pl-4">

  <div class="row pr-5 upper-contr">
    <div class="col-md-10 alrt-contr">
      <app-alert [message]="alert.message" [type]="alert.type"></app-alert>
    </div>
    <div>
      <button data-toggle="modal" data-target="#userReport" class="btn btn-info btn-sm mr-2">
        Generate Report
      </button>
      <button data-toggle="modal" data-target="#addUser" class="btn btn-success btn-sm">
        Add User
      </button>
    </div>
  </div>
  <hr />
  <div>
    <div class="row m-1">
      <div class="mr-2 p-1">
        <span class="bold-txt">Name: </span>{{ user.firstName }}
        {{ user.lastName }}
      </div>
      <div class="mr-2 p-1">
        <span class="bold-txt">Module Name: </span>{{ user.moduleName }}
      </div>
      <button data-toggle="modal" data-target="#userDetail" class="btn btn-outline-info btn-sm">
        Update
      </button>
    </div>
  </div>
  <hr />
  <div class="row mb-2 col-md-12" *ngFor="let row of statusList; let index = index" stye>
    <span class="mr-2 num-wd">{{ index + 1 }})</span>
    <div class="mr-2">
      Ticket Id:
      <input class="txt-bx" [id]="'tkt-id-' + index + 1" [(ngModel)]="row.ticketId" />
    </div>
    <div class="mr-2">
      <span class="mr-2 float-left">Description:</span>
      <textarea class="txt-bx hd-box" [id]="'tkt-desc-' + index + 1" [(ngModel)]="row.description"></textarea>
    </div>
    <select class="module-name" (change)="changeState($event.target.selectedIndex, row)">
      <option *ngFor="let state of stateList" [selected]="row.state === state">
        {{ state }}
      </option>
    </select>
  </div>
  <hr />
  <div>
    <div class="row ml-2">
      <button class="btn btn-outline-success btn-sm mr-3" (click)="submitStatus()">
        Sumbit Status
      </button>
      <button class="btn btn-outline-danger btn-sm"
        (click)="resetStatusList();this.showResetMsg('Status has been reset', 'success');">
        Reset Status
      </button>
    </div>
  </div>
  <app-update-userdetail [user]="user"></app-update-userdetail>
  <app-report [user]="user"></app-report>
  <app-add-user></app-add-user>


</div>
