<div class="row">
  <div class="form-group row" style="display: flex; justify-content: space-around">
    <label [for]="'tkt-id-' + index + 1" class="col-md-1">{{ index + 1 }})</label>
    <input class="form-control form-control-sm col-md-7" [id]="'tkt-id-' + index + 1" [(ngModel)]="status.ticketId"
      placeholder="Ticket Id" [name]="'tkt-id-' + index + 1" />
  </div>
  <div class="form-group col-md-8">
    <textarea class="form-control txt-bx p-0 pl-2" [id]="'tkt-desc-' + index + 1" [(ngModel)]="status.description"
      placeholder="Description"></textarea>
  </div>
  <div class="form-group mr-3">
    <select class="module-name dropdown" (change)="changeState($event.target.selectedIndex, status)">
      <option *ngFor="let state of stateList" [selected]="status.state === state">
        {{ state }}
      </option>
    </select>
  </div>
</div>
