#userDetail {
  .edit-lbl-border {
    border-radius: 5px;
    height: 30px;
  }
  @media (min-width: 768px) {
    .col-md-2 {
      max-width: 61.666667%;
    }
  }
  .pass-lm {
    margin-left: 19px !important;
  }
}
