<div class="modal fade" id="defaulterList">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Defaulters List</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="defaulterList; else noDefauters">
          <div *ngFor="let user of defaulterList">
            {{user.firstName}} {{user.lastName}}
          </div>
        </div>
        <ng-template #noDefauters>
          {{this.message}}
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
