<div *ngIf="user && user.role === 'ADMIN'" class="modal fade" id="addUser">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name:</label>
              <input class="form-control form-control-sm col-md-12" id="newFirstName" #firstName placeholder="Firstname"
                name="firstName" />
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name:</label>
              <input class="form-control form-control-sm col-md-12" id="newLastName" #lastName placeholder="Lastname"
                name="lastName" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">Username: </label>
              <input class="form-control form-control-sm col-md-12" id="newUserName" #userName placeholder="Username"
                name="username" />
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password:</label>
              <input class="form-control form-control-sm col-md-12" id="newPassword" #password placeholder="Password"
                name="password" />
            </div>
          </div>
          <hr />
          <table>
            <tr>
              <td>Module Name:</td>
              <td>
                <select class="dropdown col-md-12 pl-1" #module style="border-radius: 3px">
                  <option *ngFor="let module of moduleList">
                    {{ module }}
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>User Type:</td>
              <td>
                <select class="dropdown col-md-12 pl-1" #userType style="border-radius: 3px">
                  <option *ngFor="let userType of userTypeList">
                    {{ userType }}
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Role:</td>
              <td>
                <select class="dropdown col-md-12 pl-1" #role style="border-radius: 3px">
                  <option *ngFor="let role of roleList">
                    {{ role }}
                  </option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="
            addUser(
              firstName.value,
              lastName.value,
              userName.value,
              password.value,
              module.selectedIndex,
              userType.selectedIndex,
              role.selectedIndex
            )
          ">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
