@font-face {
  font-family: "Jura";
  font-style: "meduim";
  font-weight: 500;
  src: local("Jura-Meduim"),
    url("../../assets/Jura/Jura-VariableFont_wght.ttf") format("opentype");
}

#app {
  height: 100vh;
  font-size: 15px;

  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: lightgrey;
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
  }

  ::-webkit-scrollbar-button:vertical {
    background-attachment: transparent;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 15px;
    width: 4em;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    margin-right: 40px;
    padding-right: 20px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQwNC4zMDggNDA0LjMwOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDA0LjMwOCA0MDQuMzA5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTAsMTAxLjA4aDQwNC4zMDhMMjAyLjE1MSwzMDMuMjI5TDAsMTAxLjA4eiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
  }

  ::-webkit-scrollbar-button:vertical:start:decrement {
    margin-right: 40px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC11cCI+CgkJPHBvbHlnb24gcG9pbnRzPSIwLDE5MS4yNSAxMjcuNSw2My43NSAyNTUsMTkxLjI1ICAgIiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
  }

  // ::-webkit-scrollbar-button:horizontal:end:increment {
  //   margin-right: 40px;
  //   padding-right: 20px;
  //   background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgdmlld0JveD0iMCAwIDY0MCA2NDAiIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB0ZXh0LXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiBpbWFnZS1yZW5kZXJpbmc9Im9wdGltaXplUXVhbGl0eSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00ODYuNDE5IDMyMEwxNTMuNTggNjQwLjAxMlYtLjAxMkw0ODYuNDE5IDMyMHoiLz48L3N2Zz4=);
  // }

  // ::-webkit-scrollbar-button:horizontal:start:decrement {
  //   margin-right: 40px;
  //   padding-right: 20px;
  //   background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgdmlld0JveD0iMCAwIDY0MCA2NDAiIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiB0ZXh0LXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIiBpbWFnZS1yZW5kZXJpbmc9Im9wdGltaXplUXVhbGl0eSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNTMuNTgxIDMyMEw0ODYuNDIgNjQwLjAxMlYtLjAxMkwxNTMuNTgxIDMyMHoiLz48L3N2Zz4=);
  // }

  ::-webkit-scrollbar-corner {
    background-color: #444f55; /* the corner of the bottom right */
  }

  .txt-bx {
    border: 1px solid #c0c0c0 !important;
    min-height: 31px;
  }
  .top-right-contr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-size: 0.875rem;
  }
  .module-name {
    height: 30px;
  }
  .num-wd {
    width: 20px;
  }
  .bold-txt {
    font-weight: 500;
  }
  .alrt-contr {
    display: flex;
    justify-content: center;
  }
  .upper-contr {
    justify-content: space-between;
  }
  .dropdown-menu {
    left: -10px !important;
    border: 1px solid gray;
  }
  .dropdown :hover {
    cursor: pointer !important;
  }
  .btn-height {
    height: 31px;
  }
  .alert-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gradient-text {
    font-family: "Jura", sans-serif;
    background-image: -webkit-linear-gradient(#96fcab, #28bd84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .al-cntr {
    align-items: center;
  }
  .logo {
    width: 50px;
    border-right: 1px solid #4edaa4;
  }
  .logo-name {
    font-size: 34px;
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    min-height: 500px;
  }
  .rt-pane-contr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .recent-update-lbl {
    font-weight: 500;
    background-color: #4edaa4;
    width: 100%;
    text-align: center;
    height: 30px;
    padding-top: 3px;
  }

  .tab-contr {
    height: 370px;
    width: 100%;
    overflow-y: auto;
  }
  .tab-head {
    vertical-align: middle;
    text-align: center;
  }
  .tab-head-middle {
    width: 90px;
  }
  .tab-body-align {
    vertical-align: top;
  }
  .disable-view {
    pointer-events: none !important;
    cursor: default !important;
    color: grey;
  }
  .main-content-left {
    height: 500px;
    overflow: auto;
  }
  .no-sts {
    text-align: center;
  }
  .leave-detail-contr {
    max-height: 200px;
    overflow-y: auto;
  }
  .legends-box {
    width: 50px;
    height: 15px;
    border-radius: 3px;
  }
  .holiday {
    background-color: #f48b29;
    border-color: #f48b29;
  }
  .full-day {
    background-color: #28a745;
    border-color: #28a745;
  }
  .half-day {
    background-color: #abc42d;
    border-color: #abc42d;
  }
  .font-wt-400 {
    font-weight: 400;
  }
  .font-wt-500 {
    font-weight: 500;
  }
  .width-100 {
    width: 100px;
  }
  .font-size-30 {
    font-size: 30px;
  }
  .font-size-13 {
    font-size: 13px;
  }
  .grey-bolder-grey {
    border-bottom: 1px solid grey;
  }
  select:hover {
    cursor: pointer;
  }
  .high-light {
    background-color: yellow;
    border-radius: 3px;
  }
}
select {
  border-radius: 3px;
}

.dropdown-menu {
  font-size: 15px;
}
.leave-type-cntr {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}
.text-center {
  text-align: center;
}
#external {
  display: flex;
  flex-direction: column;
}
