<div id="app" class="pt-3 ml-3 mr-3">
  <div class="row upper-contr">
    <div class="row col-md-3 ml-0 al-cntr">
      <img class="pr-2 logo" src="./../../assets/logo.png" alt="logo" />
      <div class="ml-2 gradient-text logo-name">Status Hub</div>
    </div>
    <div class="col-md-6 alert-parent">
      <app-alert [message]="alert.message" [type]="alert.type">
      </app-alert>
    </div>
    <div class="dropdown col-md-3 top-right-contr">
      <i class="fa fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        aria-hidden="true" style="font-size: 30px"></i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="javascript:void(0);" (click)="todaysReport()">Download Today's Report</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#userReport" href="javascript:void(0);"
          (click)="getUsersByUserType(DEFAULT_USER_TYPE)">Custom Report</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#defaulterList" href="javascript:void(0);"
          (click)="initDefList()">Defaulters List</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#wsrReport" href="javascript:void(0);"
          [ngClass]="(user.role !== 'ADMIN') ? 'disable-view' : '' " (click)="clearLeaveReport()">WSR Report</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#addUser" href="javascript:void(0);"
          [ngClass]="(user.role !== 'ADMIN') ? 'disable-view' : '' ">Add User</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#deleteUser" href="javascript:void(0);"
          [ngClass]="(user.role !== 'ADMIN') ? 'disable-view' : '' "
          (click)="getUsersByUserType(DEFAULT_USER_TYPE)">Delete User</a>
        <a class="dropdown-item" (click)="logout()" href="javascript:void(0);">Logout</a>
      </div>
    </div>
  </div>
  <hr />
  <div>
    <div class="row ml-1">
      <div class="mr-2 p-1">
        <span class="bold-txt">Name: </span>{{ user ? user.firstName :'' }}
        {{ user ? user.lastName : '' }}
      </div>
      <div class="mr-2 p-1">
        <span class="bold-txt">Module Name: </span>{{ user ? user.moduleName:'' }}
      </div>
      <button data-toggle="modal" data-target="#userDetail" class="btn btn-outline-success btn-sm mr-2">
        Update
      </button>
      <button class="btn btn-outline-info btn-sm mr-2" [disabled]="editStatus" (click)="getTodaysStatus()">
        Edit Today's Status
      </button>
      <button class="btn btn-outline-info btn-sm" [disabled]="editLeavePlan" (click)="showLeavePlan()"
        id="btn-leave-plan">
        Leave Plan
      </button>
    </div>
  </div>
  <hr />
  <div class="main-content col-md-12 p-0">
    <div class="main-content-left pt-1 pl-0" [ngClass]="editLeavePlan? 'col-md-10':'col-md-8'">
      <ng-container *ngIf="editLeavePlan; else statusView">
        <app-full-calendar #fullCalendar [addedItems]="addedItems" [removedItems]="removedItems"
          [updatedItems]="updatedItems" (addedItemsEmitter)="addedItemsHandler($event)"
          (updatedItemsEmitter)="updatedItemsHandler($event)" (selectedItemEmitter)="selectedItemHandler($event)"
          (alertEmitter)="alertHandler($event)">
        </app-full-calendar>
      </ng-container>
      <ng-template #statusView>
        <ng-container *ngIf="message; else statusListView">
          <div class="no-sts">
            {{message}}
          </div>
        </ng-container>
        <ng-template #statusListView>
          <div class="row ml-2" *ngFor="let row of statusList; let index = index">
            <div class="form-group row pl-0" style="justify-content: space-evenly;">
              <label [for]="'tkt-id-' + index + 1" class="mr-2">{{ index + 1 }})</label>
              <input class="form-control form-control-sm col-md-8" [id]="'tkt-id-' + index + 1"
                [(ngModel)]="row.ticketId" placeholder="Ticket Id" [name]="'tkt-id-' + index + 1"
                [disabled]="row.delete" />
            </div>
            <div class="form-group col-md-7">
              <textarea class="form-control txt-bx p-0 pl-2" [id]="'tkt-desc-' + index + 1"
                [(ngModel)]="row.description" placeholder="Description" [disabled]="row.delete"></textarea>
            </div>
            <div class="form-group">
              <select class="module-name dropdown" (change)="changeState($event.target.selectedIndex, row)"
                [disabled]="row.delete">
                <option *ngFor="let state of stateList" [selected]="row.state === state">
                  {{ state }}
                </option>
              </select>
            </div>
            <div *ngIf="editStatus" class="form-group pl-2">
              <button class="btn btn-outline-danger btn-sm" (click)="row.delete = !row.delete;" title="Delete record">
                Delete
              </button>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
    <div class=" p-0 rt-pane-contr" [ngClass]="editLeavePlan? 'col-md-2':'col-md-4'">
      <div *ngIf="editLeavePlan; else recentStatusView" class="column col-md-12 p-0">
        <div class="recent-update-lbl text-center ">Leave Options:</div>
        <div id="external" class="col-md-12 pt-2">
          <button id="draggable" class="btn btn btn-success btn-md mb-2 draggable"
            [id]="user.firstName+' '+user.lastName+':full-day'">
            Drag Full Day Leave
          </button>
          <button class="btn btn btn-info btn-md mb-2 draggable" [id]="user.firstName+' '+user.lastName+':half-day'">
            Drag Half Day Leave
          </button>
          <button class="btn btn-danger" [id]="user.firstName+' '+user.lastName+':half-day'" [disabled]="!selectedItem"
            (click)="deleteLeave()">
            Add to Delete
          </button>
        </div>
        <hr>
        <div class="col-md-12">
          <span style="font-weight: 500">Your Changes:</span>
          <div *ngIf="!addedItems.length && !updatedItems.length && !removedItems.length; else leaveList">
            No Changes
          </div>
          <ng-template #leaveList>
            <div *ngIf="updatedItems.length">
              <span style="font-weight: 400">Update Leaves:</span>
              <div *ngFor="let item of updatedItems" class="col-md-12">
                {{item.start | dateFormat}} => {{item.updatedStart | dateFormat}}
              </div>
            </div>
            <div *ngIf="removedItems.length">
              <span style="font-weight: 400">Remove Leaves:</span>
              <div *ngFor="let item of removedItems" class="col-md-12">
                {{item.start | dateFormat}} ({{item.title.split(':')[1]}})
              </div>
            </div>
            <div *ngIf="addedItems.length">
              <span style="font-weight: 400">Added Leaves:</span>
              <div *ngFor="let item of addedItems" class="col-md-12">
                {{item.start | dateFormat}} ({{item.title.split(':')[1]}})
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <ng-template #recentStatusView>
        <div class="recent-update-lbl">Last Day's Updates</div>
        <div *ngIf="recentStatus.length; else noRecordFound" class="tab-contr">
          <table class="table" aria-label="table">
            <thead>
              <tr>
                <th id="ticket-id" class="tab-head tab-head-middle">Ticket Id</th>
                <th id="description" class="tab-head">Description</th>
                <th id="date" class="tab-head" style="width: 100px">State</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let status of recentStatus">
                <td class="tab-head tab-body-align">{{status.ticketId}}</td>
                <td class="tab-head tab-body-align">{{status.description}}</td>
                <td class="tab-head tab-body-align">{{status.state}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noRecordFound>
          <div class="pt-2">No Record Found</div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <hr />
  <div>
    <div class="row ml-2">
      <button class="btn btn-outline-success btn-sm mr-3" (click)="submitStatus()"
        [disabled]="!statusList.length && !editLeavePlan">
        {{editLeavePlan ? 'Submit Leave Plan' : 'Submit Status' }}
      </button>
      <button class="btn btn-outline-danger btn-sm"
        (click)="resetStatusList();alertHandler({message: 'Your changes has been Reset',type:'success'})">
        Reset
      </button>
    </div>
  </div>
  <app-update-userdetail *ngIf="user" [user]="user" (alertEmitter)="alertHandler($event)"></app-update-userdetail>
  <app-custom-report #customReportComp *ngIf="user" [user]="user" [userList]="userList"
    (alertEmitter)="alertHandler($event)" (userTypeEmitter)="userTypeHandler($event)">
  </app-custom-report>
  <app-add-user *ngIf="user && user.role === 'ADMIN'" (alertEmitter)="alertHandler($event)"></app-add-user>
  <app-defaulter-list #defComp></app-defaulter-list>
  <app-delete-user *ngIf="user && user.role === 'ADMIN'" [user]="user" [userList]="userList"
    (alertEmitter)="alertHandler($event)"></app-delete-user>
  <app-wsr-report #wsrReportComp></app-wsr-report>
  <div class="footer">
    <div class="mr-2 mb-1">
      Created By: PRANAY KOHAD
    </div>
  </div>
</div>
