<div class="modal fade" id="defaulterList">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Defaulters List</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body high">
        <button class="btn btn-outline-info btn-sm mr-2" (click)="getDefaulterList()">
          Today's Defaulters
        </button>
        <button class="btn btn-outline-info btn-sm" (click)="getDefaultersListOfWeek()">
          This Week's Defaulters
        </button><br><br>
        <div *ngIf="defaulterList && defaulterList.length; else noDefauters">
          <table>
            <thead>
              <tr>
                <th id="name">Name</th>
                <th *ngIf="callForWeek" id="count" class="pl-3">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of defaulterList; let index = index"
                [ngClass]="[callForWeek && index <= TOP_DEF_COUNT ? 'red-color' : '']">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td class="pl-3">{{user.defCount !== 0 ? user.defCount : ''}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noDefauters>
          {{this.message}}
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
