<div class="modal fade" id="defaulterList">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Defaulters List</h4>
        <app-alert class="pl-5" [message]="alert.message" [type]="alert.type">
        </app-alert>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body main-body-high hidden-ofy">
        <div class="row ml-1 cntr">
          <div class="brd-right">
            <button class="btn btn-outline-info btn-sm mr-2 btn-height" (click)="getDefaulterList()">
              Today's Defaulters
            </button>
          </div>
          <div class="row ml-1 mr-2" id="start-date-parent">
            <span class="mr-2 cntr">Start Date:</span>
            <form class="form-inline mb-1 mr-2">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control date-width" placeholder="yyyy-mm-dd" name="dp"
                    [(ngModel)]="customStartDate" ngbDatepicker #d1="ngbDatepicker" [firstDayOfWeek]=7 />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                      +
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <span class="mr-2 cntr">End Date:</span>
            <form class="form-inline mb-1 mr-2">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control date-width" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="customEndDate"
                    ngbDatepicker #d2="ngbDatepicker" [firstDayOfWeek]=7 />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                      +
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <button class="btn btn-outline-info btn-sm btn-height" (click)="getCustomDefaultersList()">
            Custom Defaulters
          </button>
        </div>
        <hr>
        <div *ngIf="defaulterList && defaulterList.length; else noDefauters" class="high">
          <table>
            <thead>
              <tr>
                <th id="name">Name</th>
                <th *ngIf="callForWeek" id="count" class="pl-3">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of defaulterList">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td class="pl-3">{{user.defCount !== 0 ? user.defCount : ''}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noDefauters>
          {{this.message}}
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
