<div id="app" class="pt-3 pl-4">
  <div class="row upper-contr">
    <div class=" col-md-9">
      <app-alert [message]="alert.message" [type]="alert.type"></app-alert>
    </div>
    <div class="col-md-3 pr-4 top-right-contr">
      <button data-toggle="modal" data-target="#userReport" class="btn btn-info btn-sm mr-2">
        Generate Report
      </button>
      <button *ngIf="user && user.role === 'ADMIN'" data-toggle="modal" data-target="#addUser"
        class="btn btn-success btn-sm mr-2">
        Add User
      </button>
      <button class="btn btn-danger btn-sm " (click)="logout()">
        Logout
      </button>
    </div>
    <!-- <div class="dropdown">
      <i class="fa fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true" style="font-size: 30px"></i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="javascript:void(0);">Generate Report</a>
        <a class="dropdown-item" href="javascript:void(0);">Add user</a>
        <a class="dropdown-item" href="javascript:void(0);">Logout</a>
    </div> -->
  </div>
  <hr />
  <div>
    <div class="row m-1">
      <div class="mr-2 p-1">
        <span class="bold-txt">Name: </span>{{ user ? user.firstName :'' }}
        {{ user ? user.lastName : '' }}
      </div>
      <div class="mr-2 p-1">
        <span class="bold-txt">Module Name: </span>{{ user ? user.moduleName:'' }}
      </div>
      <button data-toggle="modal" data-target="#userDetail" class="btn btn-outline-info btn-sm">
        Update
      </button>
    </div>
  </div>
  <hr />
  <div class="row mb-2 col-md-12" *ngFor="let row of statusList; let index = index" stye>
    <span class="mr-2 num-wd">{{ index + 1 }})</span>
    <div class="mr-2">
      Ticket Id:
      <input class="txt-bx" [id]="'tkt-id-' + index + 1" [(ngModel)]="row.ticketId" />
    </div>
    <div class="mr-2">
      <span class="mr-2 float-left">Description:</span>
      <textarea class="txt-bx hd-box" [id]="'tkt-desc-' + index + 1" [(ngModel)]="row.description"></textarea>
    </div>
    <select class="module-name dropdown" (change)="changeState($event.target.selectedIndex, row)">
      <option *ngFor="let state of stateList" [selected]="row.state === state">
        {{ state }}
      </option>
    </select>
  </div>
  <hr />
  <div>
    <div class="row ml-2">
      <button class="btn btn-outline-success btn-sm mr-3" (click)="submitStatus()">
        Sumbit Status
      </button>
      <button class="btn btn-outline-danger btn-sm"
        (click)="resetStatusList();alertHandler({message: 'Status has been reset.',type:'success'})">
        Reset Status
      </button>
    </div>
  </div>
  <app-update-userdetail *ngIf="user" [user]="user" (alertEmitter)="alertHandler($event)"></app-update-userdetail>
  <app-report *ngIf="user" [user]="user" (alertEmitter)="alertHandler($event)"></app-report>
  <app-add-user (alertEmitter)="alertHandler($event)"></app-add-user>
</div>
