#app {
  height: 100vh;
  font-size: 15px;
  .txt-bx {
    border: 1px solid #c0c0c0 !important;
    min-height: 31px;
  }
  .top-right-contr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-size: 0.875rem;
  }
  .module-name {
    height: 30px;
  }
  .num-wd {
    width: 20px;
  }
  .bold-txt {
    font-weight: 500;
  }
  .alrt-contr {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 1000px) {
    .hd-box {
      width: 670px;
    }
  }
  .upper-contr {
    justify-content: space-between;
  }
  .dropdown-menu {
    left: -70px !important;
  }
  .btn-height {
    height: 31px;
  }
  .alert-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  //upper color #07b99d;
  //center color #4edaa4;
  //lower color #96fcab;

  .gradient-text {
    font-family: "Jura", sans-serif;
    background-image: -webkit-linear-gradient(#96fcab, #28bd84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .al-cntr {
    align-items: center;
  }

  .logo {
    width: 50px;
    border-right: 1px solid #4edaa4;
  }

  .logo-name {
    font-size: 35px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
  }
  .rt-pane-contr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .recent-update-lbl {
    background-color: #4edaa4;
    width: 100%;
    text-align: center;
    height: 30px;
    padding-top: 3px;
  }

  .tab-contr {
    height: 370px;
    width: 100%;
    overflow-y: auto;
  }
  .tab-head {
    vertical-align: middle;
    text-align: center;
  }
  .tab-head-middle {
    width: 90px;
  }
}
