#app {
  font-size: 15px;
  .txt-bx {
    border: 1px solid #c0c0c0 !important;
    min-height: 31px;
  }
  .top-right-contr {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    font-size: 0.875rem;
  }
  .module-name {
    height: 30px;
  }
  .num-wd {
    width: 20px;
  }
  .bold-txt {
    font-weight: 500;
  }
  .alrt-contr {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 1000px) {
    .hd-box {
      width: 700px;
    }
  }
  .upper-contr {
    justify-content: space-between;
  }
  .dropdown-menu {
    left: -70px !important;
  }
  .btn-height {
    height: 31px;
  }

  //center color #4edaa4;
  //lower color #96fcab;
  //upper color #07b99d;

  .gradient-text {
    font-family: "Jura", sans-serif;
    background-image: -webkit-linear-gradient(#96fcab, #28bd84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .al-cntr {
    align-items: center;
  }

  .logo {
    width: 50px;
    border-right: 1px solid #4edaa4;
  }

  .logo-name {
    font-size: 35px;
  }
}
