<div class="modal fade" id="wsrReport">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Resource Utility</h4>
        <app-alert class="pl-5" [message]="alert.message" [type]="alert.type">
        </app-alert>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
